.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
}


.login-page form{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.login-page form h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-page form .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login-page form .form-group input{
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
.login-page form .form-group input:focus{
    outline: none;
    border-color: #000;
}
.login-page form .form-group button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
.error{
    color: red;
    margin-bottom: 20px;
    text-align: center;
}